{{define "nav"}}
<head>
    <style>
        body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
    </style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar panel-group">


                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-home">
                                    </span>GoPhish Main</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="/">&nbsp;&nbsp;Dashboard</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/library">&nbsp;&nbsp;Simulation Library</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/groups">&nbsp;&nbsp;Targets &amp; Groups</a>
                                            </td>
                                        </tr>
       
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                        </span>Build Simulations</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="/campaigns">&nbsp;&nbsp;Manual Campaigns</a> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/templates">&nbsp;&nbsp;Email Templates</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/landing_pages">&nbsp;&nbsp;Landing Pages</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/sending_profiles">&nbsp;&nbsp;Sending Profiles</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-wrench">
                                            </span>Settings</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <a href="/settings">&nbsp;&nbsp;Account Settings</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                        {{if .ModifySystem}}
                                                    <td>
                                                            <a href="/users">&nbsp;&nbsp;User Management<span class="nav-badge badge pull-right">Admin</span></a>
                                                    </td>
                                                    {{end}}
                                                </tr>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-question-sign">
                                            </span>Help</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                            <a href="https://docs.getgophish.com/user-guide/">&nbsp;&nbsp;User Guide</a> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                            <a href="https://docs.getgophish.com/api-documentation/">&nbsp;&nbsp;API Documentation</a>
                                                    </td>
                                                </tr>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
          
       
            </ul>
        </div>
    </div>
</div>
{{end}}