{{define "body"}}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Training Library
        </h1>
    </div>
    <div id="flashes" class="row"></div>

        <div class="alert alert-info">
            <p>Below is the user awareness training page. You can share it with your staff by sending them this publicly accessible URL: <a href="#" target="_blank">#</a> </p> <!-- Set your training page here -->
            <p>Users will see a similar page when they fall victim to a phishing simulation. You can see that page here: <a href="#" target="_blank">#</a></p> <!-- Set your gotcha page here -->

            
        </div>

    <div  id ="trainingcontainer">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="#" allowfullscreen=""></iframe> <!-- Set your training page here -->
          </div>

    </div>


</div>
{{end}} {{define "scripts"}}
<!-- <script src="/js/dist/app/training.min.js"></script> -->
{{end}}